@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import 'reset';
  
  * {  
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    @apply box-border m-0 p-0;
  }

  body {
    font-family: 'Dm Sans', sans-serif;
  }

  #app {
    @apply flex flex-col w-full h-full text-secondary bg-primary flex-1 min-h-screen;
  }

  img,
  video {
    @apply w-full h-full object-cover;
  }

  span {
    @apply leading-none;
  }

  a {
    -webkit-appearance: none !important;
  }

  button[disabled] {
    cursor: not-allowed;
  }

  input[type=time]::-webkit-calendar-picker-indicator {
    display: none;
  }
}